body {
    background-color: #e1e1e1;
    color: black;
    }

header {
    margin: 200px 0px 100px 0px;
    font: 400 120px/2 'Chivo', Helvetica, sans-serif;
    letter-spacing: 10px;
    text-align: justify;
    display: inline-block;
    width: 100%;
    text-align: center;
    -webkit-text-fill-color: #e1e1e1;
    -webkit-text-stroke: 2px black;

}

.subTitle {
    margin: 100px 0px 200px 0px;
    font: 700 60px/2 'Archivo Narrow', Helvetica, sans-serif;
    text-align: justify;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.int, .c1, .c2, .c3, .c4, .c5, .con, .abs, .src {
    font: 400 60px/1 'Chivo', Helvetica, sans-serif;
    width: 100%;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-top: 8px solid #000000;
}

#backToTop {
    z-index: 100px;
    position: fixed;
    display: block;
    right: 10%;
    bottom: 10%;
}

a:link {
    text-decoration: none;
    color: black;  
}

a:visited {
    text-decoration: none;
    color: black;  
}

a:hover { 
    text-decoration: none;
    border-bottom: 2px solid black;
    color: black; 
} 

a:active { 
    text-decoration: none;
    border-bottom: 0;
    color: black; 
}

::selection {
background-color: black;
color: white;
}


/* This makes the images scale to the full width of the page */
img {
    width: 100%;
    height: auto;
}


div.image {
    width: 70%;
    height: auto;
    padding-left: 20%;
}

div.caption {
    font-size: 10px;
    left: 5%;
}

@media screen and (max-width: 36em) {
    
header {
    margin: 200px 0px 100px 0px;
    font: 400 100px/1.5 'Chivo', Helvetica, sans-serif;
    letter-spacing: 10px;
    text-align: justify;
    display: inline-block;
    width: 100%;
    text-align: center;
    -webkit-text-fill-color: #e1e1e1;
    -webkit-text-stroke: 2px black;

}

.subTitle {
    margin: 100px 0px 200px 0px;
    font: 700 40px/1.5 'Archivo Narrow', Helvetica, sans-serif;
    text-align: justify;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.int, .c1, .c2, .c3, .c4, .c5, .con, .abs, .src {
    font: 400 40px/1.5 'Chivo', Helvetica, sans-serif;
    width: 100%;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-top: 8px solid #000000;

}

@media print {

    #backToTop {
            display:none;
    }
}
